@charset "UTF-8";
/*variables avec toutes les couleurs en héxadécimales utilisées pour le site*/
/*background vert du header, du button et du footer $color-primary: #529180;*/
/*couleur jaune des textes header, button, et footer $text-color1: #F7C528;*/
/*background color du menu la note enchantée $section1-color: #FADBD6;*/
/*background color du menu le chic à la française $section2-color: #FEF6FF;*/
/*background color du menu le délice des papilles $section3-color: #FCFAFA;*/
/*background color du menu la palette du goût $section4-color: #F0FFF2;*/
/*couleur du texte h2b et h3b $h21-color:#CA7A0F;*/
/*deuxiéme couleur du texte h2b $h22-color:#995EFF;*/
/*couleur du texte h2d et h3d $h2e1-color:#168720;*/
/*deuxième couleur du texte h2b $h2e2-color:#B9FF00;*/
/*couleur du texte h2c et h3c $h2d1-color:#2025B6;*/
/*deuxième couleur du texte h2c $h2d2-color:#2E89FE;*/
@media screen and (min-width: 300px) {
  html, body {
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%; }
  #container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap; }
  header, footer {
    background-color: #559c84;
    width: 100%; }
  section {
    border: 1px solid lightgrey;
    box-shadow: 1px 1px 1px 1px #ECECEC; }
  h1 {
    font-size: 2.4em;
    font-family: 'Hind Siliguri', sans-serif;
    text-align: center;
    vertical-align: middle;
    position: relative;
    /*valeur négative de letter spacing pour le h1 pour reproduire l'écart entre les lettres à l'identique de la maquette*/
    letter-spacing: -2px; }
  a, h2, h3, #ml, #ctn {
    text-decoration: none;
    white-space: nowrap; }
  h1, #ml, #ctn {
    color: #F7C528; }
  #h2m1, #h2m2, #h2m3, #h2m4, #ml, #ctn {
    /*police de caratère de "footer"*/
    font-family: 'Lato', sans-serif; }
  h2, h3, h4 {
    text-align: center; }
  #ml, #ctn {
    /*police de caratère de "button" et de "footer"*/
    font-family: 'Lato', sans-serif;
    font-weight: lighter; }
  footer {
    /*position fixed pour le footer afin qu'il reste au même endroit de l'écran malgré le scrolling vertical*/
    padding-top: 1%;
    position: fixed;
    bottom: 0;
    padding-bottom: 1%;
    width: 100%;
    height: 3%; }
    footer a {
      background-color: #559c84;
      color: #F7C528;
      font-size: 1.1em; }
    footer div {
      display: flex;
      justify-content: space-between; }
  #ml {
    margin-left: 3%; }
  #ctn {
    margin-right: 3%; }
  #ml:hover {
    -webkit-animation: thing 5s;
    animation: thing 5s; }
  @-webkit-keyframes thing {
    0% {
      transform: rotate(0deg); }
    3% {
      transform: rotate(-4deg); }
    4% {
      transform: rotate(4deg); }
    5% {
      transform: rotate(-4deg); }
    6% {
      transform: rotate(4deg); }
    7% {
      transform: rotate(4deg); }
    8% {
      transform: rotate(-4deg); }
    9% {
      transform: rotate(4deg); }
    10% {
      transform: rotate(-4deg); }
    11% {
      transform: rotate(4deg); }
    12% {
      transform: rotate(-4deg); }
    13% {
      transform: rotate(-4deg); }
    14% {
      transform: rotate(4deg); }
    15% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(0deg); } }
  @keyframes thing {
    0% {
      transform: rotate(0deg); }
    3% {
      transform: rotate(-4deg); }
    4% {
      transform: rotate(4deg); }
    5% {
      transform: rotate(-4deg); }
    6% {
      transform: rotate(4deg); }
    7% {
      transform: rotate(4deg); }
    8% {
      transform: rotate(-4deg); }
    9% {
      transform: rotate(4deg); }
    10% {
      transform: rotate(-4deg); }
    11% {
      transform: rotate(4deg); }
    12% {
      transform: rotate(-4deg); }
    13% {
      transform: rotate(-4deg); }
    14% {
      transform: rotate(4deg); }
    15% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(0deg); } }
  #ctn:hover {
    -webkit-animation: thing 5s;
    animation: thing 5s; }
  @-webkit-keyframes thing {
    0% {
      transform: rotate(0deg); }
    3% {
      transform: rotate(-4deg); }
    4% {
      transform: rotate(4deg); }
    5% {
      transform: rotate(-4deg); }
    6% {
      transform: rotate(4deg); }
    7% {
      transform: rotate(4deg); }
    8% {
      transform: rotate(-4deg); }
    9% {
      transform: rotate(4deg); }
    10% {
      transform: rotate(-4deg); }
    11% {
      transform: rotate(4deg); }
    12% {
      transform: rotate(-4deg); }
    13% {
      transform: rotate(-4deg); }
    14% {
      transform: rotate(4deg); }
    15% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(0deg); } }
  @keyframes thing {
    0% {
      transform: rotate(0deg); }
    3% {
      transform: rotate(-4deg); }
    4% {
      transform: rotate(4deg); }
    5% {
      transform: rotate(-4deg); }
    6% {
      transform: rotate(4deg); }
    7% {
      transform: rotate(4deg); }
    8% {
      transform: rotate(-4deg); }
    9% {
      transform: rotate(4deg); }
    10% {
      transform: rotate(-4deg); }
    11% {
      transform: rotate(4deg); }
    12% {
      transform: rotate(-4deg); }
    13% {
      transform: rotate(-4deg); }
    14% {
      transform: rotate(4deg); }
    15% {
      transform: rotate(0deg); }
    100% {
      transform: rotate(0deg); } }
  /* la note enchantée*/
  #sec1M1 {
    background-color: #f9dfde;
    width: 90%;
    position: relative;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%; }
  #img {
    display: flex;
    justify-content: center; }
  #noteh2 {
    position: relative;
    height: 25px;
    top: 35px;
    margin-right: 5%; }
  #h2m1 {
    margin-left: auto;
    margin-right: auto;
    position: relative; }
  #h3m1 {
    font-family: 'Devonshire', cursive;
    font-weight: lighter;
    font-size: 1.7em; }
  .préludegauche, .préludedroit {
    position: relative;
    top: 37.5px;
    width: 80px; }
  .préludegauche {
    left: 2%; }
  .préludedroit {
    left: 42%; }
  #h4m1c {
    font-family: 'Devonshire', cursive;
    font-weight: lighter;
    font-size: 1.3em;
    position: relative; }
  #img2 {
    display: flex;
    justify-content: center; }
  #noteh4 {
    position: relative;
    height: 20px;
    top: 30px;
    margin-right: 5%; }
  .texte {
    /* mixin pour la mise en forme des textes des menus*/
    font-weight: lighter;
    font-family: "Kalam";
    white-space: nowrap;
    position: relative;
    font-size: 0.55em;
    margin-left: 2%; }
  .sp1 {
    font-family: "Annie Use Your Telescope";
    font-weight: bold;
    font-size: 0.55em;
    margin-right: 2%; }
  #h4m1, #h4m1a, #h4m1b {
    font-family: "Kalam";
    position: relative;
    font-weight: bolder;
    text-decoration: none;
    font-size: 1em; }
  .menu1 {
    display: flex;
    justify-content: space-between; } }

@media screen and (orientation: portrait) and (min-width: 375px) and (max-width: 399px) {
  .préludegauche, .préludedroit {
    height: 2px; }
  .préludedroit {
    left: 45%; }
  #noteh4 {
    height: 25px;
    top: 50px;
    right: 20%; }
  .texte {
    font-size: 0.65em;
    margin-left: 5%; }
  .sp1 {
    font-size: 0.65em;
    margin-right: 5%; } }

@media screen and (orientation: portrait) and (min-width: 400px) {
  .préludegauche, .préludedroit {
    top: 45px;
    width: 90px;
    height: 2px; }
  .préludegauche {
    left: 4%; }
  .préludedroit {
    left: 45%; }
  #h4m1, #h4m1a, #h4m1b {
    font-size: 1.2em; }
  #h4m1c {
    font-size: 1.5em; }
  #noteh4 {
    height: 25px;
    top: 60px;
    right: 20%; }
  .texte {
    font-size: 0.7em;
    margin-left: 5%; }
  .sp1 {
    font-size: 0.7em;
    margin-right: 5%; } }

@media screen and (orientation: landscape) and (min-width: 568px) and (max-width: 800px) {
  #noteh2 {
    top: 35px;
    margin-right: 3%;
    height: 35px; }
  #h3m1 {
    font-size: 1.8em; }
  .préludegauche, .préludedroit {
    top: 45px;
    width: 200px;
    height: 2px; }
  .préludegauche {
    left: 2%; }
  .préludedroit {
    left: 31.5%; }
  #h4m1, #h4m1a, #h4m1b {
    font-size: 1.2em; }
  #h4m1c {
    font-size: 1.5em; }
  #noteh4 {
    margin-right: 2%;
    height: 25px;
    top: 60px;
    right: 12.5%; }
  .texte {
    font-size: 0.95em;
    margin-left: 2%; }
  .sp1 {
    font-size: 0.95em;
    margin-right: 2%; }
  footer {
    padding-bottom: 2%; } }

@media screen and (orientation: landscape) and (min-width: 801px) and (max-width: 900px) {
  #noteh2 {
    top: 35px;
    margin-right: 3%;
    height: 35px; }
  #h3m1 {
    font-size: 1.8em; }
  .préludegauche, .préludedroit {
    top: 60px;
    width: 240px;
    height: 2px; }
  .préludegauche {
    left: 3.5%; }
  .préludedroit {
    left: 30%; }
  #h4m1, #h4m1a, #h4m1b {
    font-size: 1.6em; }
  #h4m1c {
    font-size: 1.9em; }
  #noteh4 {
    height: 25px;
    top: 73px;
    right: 11.5%; }
  .texte {
    font-size: 1.1em;
    margin-left: 5%; }
  .sp1 {
    font-size: 1.1em;
    margin-right: 5%; }
  footer {
    padding-bottom: 3%; } }

@media screen and (orientation: landscape) and (min-width: 801px) and (max-width: 900px) {
  #noteh2 {
    top: 35px;
    margin-right: 3%;
    height: 35px; }
  #h3m1 {
    font-size: 1.8em; }
  .préludegauche, .préludedroit {
    top: 60px;
    width: 240px;
    height: 2px; }
  .préludegauche {
    left: 3.5%; }
  .préludedroit {
    left: 30%; }
  #h3m1 {
    font-size: 2em; }
  #h4m1, #h4m1a, #h4m1b {
    font-size: 1.6em; }
  #h4m1c {
    font-size: 1.9em; }
  #noteh4 {
    height: 25px;
    top: 73px;
    right: 11.5%; }
  .texte {
    font-size: 1.2em;
    margin-left: 5%; }
  .sp1 {
    font-size: 1.2em;
    margin-right: 5%; }
  footer {
    padding-bottom: 3%;
    font-size: 1.4em; } }

@media screen and (orientation: portrait) and (min-width: 600px) and (max-width: 602px) {
  .préludegauche, .préludedroit {
    top: 45px;
    width: 185px;
    height: 2px; }
  .préludegauche {
    left: 2%; }
  .préludedroit {
    left: 30%; }
  #noteh4 {
    height: 30px;
    top: 60px;
    right: 14%; } }

@media screen and (orientation: portrait) and (min-width: 768px) and (max-width: 1023px) {
  #noteh2 {
    top: 35px;
    margin-right: 3%;
    height: 40px; }
  #h3m1 {
    font-size: 2.3em; }
  .préludegauche, .préludedroit {
    top: 55px;
    width: 200px;
    height: 2px; }
  .préludegauche {
    left: 4%; }
  .préludedroit {
    left: 37%; }
  #h4m1, #h4m1a, #h4m1b {
    font-size: 1.5em; }
  #h4m1c {
    font-size: 1.9em; }
  #noteh4 {
    margin-right: 2%;
    height: 30px;
    top: 72px;
    right: 14%; }
  .texte {
    font-size: 1.1em;
    margin-left: 5%; }
  .sp1 {
    font-size: 1.1em;
    margin-right: 5%; }
  footer {
    font-size: 1.4em;
    padding-bottom: 1%; } }

@media screen and (orientation: landscape) and (min-width: 901px) and (max-width: 1279px) {
  h1 {
    font-size: 3.5em; }
  h2 {
    font-size: 2.6em; }
  #noteh2 {
    top: 35px;
    margin-right: 3%;
    height: 35px; }
  #h3m1 {
    font-size: 2.2em; }
  .préludegauche, .préludedroit {
    top: 60px;
    width: 270px;
    height: 3px; }
  .préludegauche {
    left: 5%; }
  .préludedroit {
    left: 35%; }
  #h3m1 {
    font-size: 2em; }
  #h4m1, #h4m1a, #h4m1b {
    font-size: 1.6em; }
  #h4m1c {
    font-size: 2.2em; }
  #noteh4 {
    height: 35px;
    top: 85px;
    right: 11%; }
  .texte {
    font-size: 1.4em;
    margin-left: 5%; }
  .sp1 {
    font-size: 1.4em;
    margin-right: 5%; }
  footer {
    padding-bottom: 3%;
    font-size: 1.7em; } }

@media screen and (orientation: landscape) and (min-width: 1280px) {
  #noteh2 {
    margin-right: 3%; }
  #h3m1 {
    font-size: 1.9em; }
  .préludegauche, .préludedroit {
    top: 50px;
    width: 170px; }
  .préludegauche {
    left: 2%; }
  .préludedroit {
    left: 42%; }
  #noteh4 {
    top: 50px;
    margin-left: 4%; }
  #h4m1, #h4m1a, #h4m1b {
    font-size: 1.4em; }
  .texte {
    font-size: 1em;
    margin-left: 5%; }
  .sp1 {
    font-size: 1em;
    margin-right: 5%; } }

@media screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1279px) {
  h1 {
    font-size: 3.5em; }
  h2 {
    font-size: 2.5em; }
  #noteh2 {
    top: 50px;
    margin-right: 3%;
    height: 40px; }
  #h3m1 {
    font-size: 2.7em; }
  .préludegauche, .préludedroit {
    top: 55px;
    width: 240px;
    height: 2px; }
  .préludegauche {
    left: 5%; }
  .préludedroit {
    left: 42.5%; }
  #h4m1, #h4m1a, #h4m1b {
    font-size: 1.7em; }
  #h4m1c {
    font-size: 2.1em; }
  #noteh4 {
    margin-right: 2%;
    height: 30px;
    top: 80px;
    right: 12%; }
  .texte {
    font-size: 1.3em;
    margin-left: 5%; }
  .sp1 {
    font-size: 1.3em;
    margin-right: 5%; }
  footer {
    font-size: 1.8em;
    padding-bottom: 1%; } }

@media screen and (min-width: 1280px) {
  h1 {
    font-size: 3.8em;
    padding-bottom: 0.9%;
    margin-top: 3%; }
  footer {
    padding-bottom: 3%; }
    footer a {
      font-size: 2.4em; }
  #ml {
    margin-left: 2%; }
  #ctn {
    margin-right: 2%; }
  #sec1M1 {
    background-color: #f9dfde; }
  #img {
    display: flex;
    justify-content: center; }
  #noteh2 {
    position: relative;
    height: 70px;
    margin-top: 2%;
    line-height: 0.1;
    top: 50px; }
  .préludegauche, .préludedroit {
    display: initial;
    top: 90px;
    position: relative;
    width: 410px;
    height: 6px; }
  .préludegauche {
    left: 5%; }
  .préludedroit {
    left: 30%; }
  #h3m1 {
    font-size: 3em; }
  h2 {
    font-size: 2.4em; }
  #h4m1, #h4m1a, #h4m1b {
    font-size: 2.4em; }
  #h4m1 {
    margin-bottom: 3%; }
  #h4m1c {
    font-size: 3.5em;
    padding-bottom: 2%; }
  #img2 {
    display: flex;
    justify-content: center;
    margin-right: 30%; }
  #noteh4 {
    height: 60px;
    line-height: 0.1;
    top: 140px; }
  .texte {
    font-size: 1.7em;
    margin-left: 5%; }
  .sp1 {
    font-size: 1.7em;
    margin-right: 5%; }
  .menu1 {
    display: flex;
    justify-content: space-between; } }

/* Le chic à la française*/
@media screen and (min-width: 300px) {
  #sec1M2 {
    background-color: #faf2fa;
    width: 90%;
    position: relative;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%; }
  #h2m2 {
    margin-left: auto;
    margin-right: auto;
    position: relative; }
  .menu2 {
    display: flex;
    justify-content: space-between; }
  #h3m2 {
    /*utilisation des préfixes vendeurs pour que l'affichage de l'effet linéar gradient s'affiche de la même manière sur tous les navigateurs*/
    font-family: 'Croissant One', cursive;
    font-weight: lighter;
    margin-top: 5%;
    font-size: 1.4em;
    background: -moz-linear-gradient(right, #995EFF, #CA7A0F);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -webkit-linear-gradient(right, #995EFF, #CA7A0F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #995EFF, #CA7A0F);
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -linear-gradient(to right, #995EFF, #CA7A0F); }
  #h4m2c {
    /*utilisation des préfixes vendeurs pour que l'affichage de l'effet linéar gradient s'affiche de la même manière sur tous les navigateurs*/
    font-family: 'Croissant One', cursive;
    font-weight: lighter;
    margin-top: 5%;
    font-size: 0.8em;
    background: -moz-linear-gradient(right, #995EFF, #CA7A0F);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -webkit-linear-gradient(right, #995EFF, #CA7A0F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #995EFF, #CA7A0F);
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -linear-gradient(to right, #995EFF, #CA7A0F);
    text-align: center; }
  .texte2, .texte2a, .texte2b {
    /* mixin pour la mise en forme des textes des menus*/
    font-weight: lighter;
    font-family: "Playfair Display:400";
    white-space: nowrap;
    position: relative;
    font-weight: lighter;
    font-size: 0.55em;
    margin-left: 5%; }
  .texte2 {
    color: #CA7A0F; }
  .texte2a {
    color: #A165AF; }
  .texte2b {
    color: #6F39B8; }
  .sp2a, .sp2b {
    font-family: "Playfair Display:400";
    font-weight: bold;
    font-weight: lighter;
    font-size: 0.55em;
    margin-right: 5%; }
  .sp2a {
    color: #CA7A0F; }
  .sp2b {
    color: #A378AD; }
  #h4m2 {
    color: #CA7A0F;
    text-align: center;
    font-size: 0.8em; }
  #h4m2a {
    color: #A165AF;
    text-align: center;
    font-size: 0.8em; }
  #h4m2b {
    color: #6F39B8;
    text-align: center;
    font-size: 0.8em; }
  #chic1g {
    width: 50px;
    position: relative;
    top: 31px;
    left: 4%; }
  #chic1d {
    width: 50px;
    position: relative;
    top: 31px;
    left: 60%; }
  #chic2g {
    width: 50px;
    position: relative;
    top: 31px;
    left: 4%; }
  #chic2d {
    width: 50px;
    position: relative;
    top: 31px;
    left: 60%; }
  #chic3g {
    width: 50px;
    position: relative;
    top: 31px;
    left: 4%; }
  #chic3d {
    width: 50px;
    position: relative;
    top: 31px;
    left: 60%; } }

@media screen and (orientation: landscape) and (min-width: 568px) and (max-width: 809px) {
  #h3m2 {
    font-size: 1.6em; }
  #h4m2c {
    font-size: 1.1em; }
  #chic1g {
    width: 100px;
    position: relative;
    top: 43px;
    left: 10%; }
  #chic1d {
    width: 100px;
    position: relative;
    top: 43px;
    left: 55%; }
  #chic2g {
    width: 100px;
    position: relative;
    top: 43px;
    left: 10%; }
  #chic2d {
    width: 100px;
    position: relative;
    top: 43px;
    left: 55%; }
  #chic3g {
    width: 100px;
    position: relative;
    top: 43px;
    left: 10%; }
  #chic3d {
    width: 100px;
    position: relative;
    top: 43px;
    left: 55%; }
  .texte2, .texte2a, .texte2b {
    font-size: 0.8em; }
  .sp2a, .sp2b {
    font-size: 0.8em; }
  #h4m2, #h4m2a, #h4m2b {
    font-size: 1.1em; }
  footer {
    padding-bottom: 3%; } }

@media screen and (orientation: landscape) and (min-width: 731px) and (max-width: 740px) {
  #chic1g, #chic2g, #chic3g {
    left: 15%; } }

@media screen and (orientation: landscape) and (min-width: 810px) and (max-width: 1023px) {
  h1 {
    font-size: 3.1em; }
  #h3m2 {
    font-size: 1.8em; }
  #h4m2c {
    font-size: 1.4em; }
  #chic1g {
    width: 150px;
    position: relative;
    top: 48px;
    left: 10%;
    height: 6px; }
  #chic1d {
    width: 150px;
    position: relative;
    top: 48px;
    left: 52%;
    height: 6px; }
  #chic2g {
    width: 150px;
    position: relative;
    top: 48px;
    left: 10%;
    height: 6px; }
  #chic2d {
    width: 150px;
    position: relative;
    top: 48px;
    left: 52%;
    height: 6px; }
  #chic3g {
    width: 150px;
    position: relative;
    top: 48px;
    left: 10%;
    height: 6px; }
  #chic3d {
    width: 150px;
    position: relative;
    top: 48px;
    left: 52%;
    height: 6px; }
  .texte2, .texte2a, .texte2b {
    font-size: 1em; }
  .sp2a, .sp2b {
    font-size: 1em; }
  #h4m2, #h4m2a, #h4m2b {
    font-size: 1.3em; } }

@media screen and (orientation: portrait) and (min-width: 600px) and (max-width: 1024px) {
  #h3m2 {
    font-size: 1.9em; }
  #h4m2c {
    font-size: 1.4em; }
  .texte2, .texte2a, .texte2b {
    font-size: 1em; }
  .sp2a, .sp2b {
    font-size: 1em; }
  #h4m2, #h4m2a, #h4m2b {
    font-size: 1.2em; }
  #chic1g {
    width: 170px;
    position: relative;
    top: 45px;
    left: 4%;
    height: 6px; }
  #chic1d {
    width: 170px;
    position: relative;
    top: 45px;
    left: 45%;
    height: 6px; }
  #chic2g {
    width: 170px;
    position: relative;
    top: 45px;
    left: 4%;
    height: 6px; }
  #chic2d {
    width: 170px;
    position: relative;
    top: 45px;
    left: 45%;
    height: 6px; }
  #chic3g {
    width: 170px;
    position: relative;
    top: 45px;
    left: 4%;
    height: 6px; }
  #chic3d {
    width: 170px;
    position: relative;
    top: 45px;
    left: 45%;
    height: 6px; } }

@media screen and (orientation: portrait) and (min-width: 599px) and (max-width: 600px) {
  #chic1g {
    width: 140px;
    position: relative;
    top: 45px;
    left: 2%;
    height: 6px; }
  #chic1d {
    width: 140px;
    position: relative;
    top: 45px;
    left: 45%;
    height: 6px; }
  #chic2g {
    width: 140px;
    position: relative;
    top: 45px;
    left: 2%;
    height: 6px; }
  #chic2d {
    width: 140px;
    position: relative;
    top: 45px;
    left: 45%;
    height: 6px; }
  #chic3g {
    width: 140px;
    position: relative;
    top: 45px;
    left: 2%;
    height: 6px; }
  #chic3d {
    width: 140px;
    position: relative;
    top: 45px;
    left: 45%;
    height: 6px; } }

@media screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1199px) {
  h1 {
    font-size: 3.7em; }
  #h3m2 {
    font-size: 2.1em; }
  #h4m2c {
    font-size: 1.7em; }
  .texte2, .texte2a, .texte2b {
    font-size: 1.2em; }
  .sp2a, .sp2b {
    font-size: 1.2em; }
  #h4m2, #h4m2a, #h4m2b {
    font-size: 1.4em; }
  #chic1g {
    width: 190px;
    position: relative;
    top: 45px;
    left: 10%;
    height: 7px; }
  #chic1d {
    width: 190px;
    position: relative;
    top: 45px;
    left: 45%;
    height: 7px; }
  #chic2g {
    width: 190px;
    position: relative;
    top: 45px;
    left: 10%;
    height: 7px; }
  #chic2d {
    width: 190px;
    position: relative;
    top: 45px;
    left: 45%;
    height: 7px; }
  #chic3g {
    width: 190px;
    position: relative;
    top: 45px;
    left: 10%;
    height: 7px; }
  #chic3d {
    width: 190px;
    position: relative;
    top: 45px;
    left: 45%;
    height: 7px; }
  footer {
    padding-bottom: 2%; } }

@media screen and (orientation: landscape) and (min-width: 1024px) and (max-width: 1199px) {
  h1 {
    font-size: 3.7em; }
  #h3m2 {
    font-size: 2.3em; }
  #h4m2c {
    font-size: 1.9em; }
  .texte2, .texte2a, .texte2b {
    font-size: 1.3em; }
  .sp2a, .sp2b {
    font-size: 1.3em; }
  #h4m2, #h4m2a, #h4m2b {
    font-size: 1.6em; }
  #chic1g {
    width: 190px;
    position: relative;
    top: 57px;
    left: 10%;
    height: 7px; }
  #chic1d {
    width: 190px;
    position: relative;
    top: 55px;
    left: 48%;
    height: 7px; }
  #chic2g {
    width: 190px;
    position: relative;
    top: 57px;
    left: 10%;
    height: 7px; }
  #chic2d {
    width: 190px;
    position: relative;
    top: 55px;
    left: 48%;
    height: 7px; }
  #chic3g {
    width: 190px;
    position: relative;
    top: 57px;
    left: 10%;
    height: 7px; }
  #chic3d {
    width: 190px;
    position: relative;
    top: 55px;
    left: 48%;
    height: 7px; }
  footer {
    padding-bottom: 2%; } }

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.8em; }
  #h3m2 {
    font-size: 2.4em; }
  #h4m2c {
    font-size: 2em; }
  .texte2, .texte2a, .texte2b {
    font-size: 1.4em; }
  .sp2a, .sp2b {
    font-size: 1.4em; }
  #h4m2, #h4m2a, #h4m2b {
    font-size: 1.7em; }
  #chic1g {
    width: 270px;
    position: relative;
    top: 60px;
    left: 15%;
    height: 10px; }
  #chic1d {
    width: 270px;
    position: relative;
    top: 58px;
    left: 45%;
    height: 10px; }
  #chic2g {
    width: 270px;
    position: relative;
    top: 60px;
    left: 15%;
    height: 10px; }
  #chic2d {
    width: 270px;
    position: relative;
    top: 58px;
    left: 45%;
    height: 10px; }
  #chic3g {
    width: 270px;
    position: relative;
    top: 60px;
    left: 15%;
    height: 10px; }
  #chic3d {
    width: 270px;
    position: relative;
    top: 58px;
    left: 45%;
    height: 10px; }
  footer {
    padding-bottom: 3%; } }

/*le délice des papilles*/
@media screen and (min-width: 300px) {
  #sec1M3 {
    background-color: #F2F7FA;
    width: 90%;
    position: relative;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%; }
  #h2m3 {
    margin-left: auto;
    margin-right: auto;
    position: relative; }
  .menu3 {
    display: flex;
    justify-content: space-between; }
  #h4m3, #h4m3a, #h4m3b {
    font-family: 'Chilanka';
    text-align: center;
    font-size: 0.7em;
    font-weight: lighter; }
  .texte3 {
    /* mixin pour la mise en forme des textes des menus*/
    font-weight: lighter;
    font-family: "Chilanka";
    white-space: nowrap;
    position: relative;
    font-size: 0.50em;
    margin-left: 5%; }
  .sp3 {
    font-family: "Chilanka";
    font-weight: bold;
    font-weight: lighter;
    font-size: 0.50em;
    margin-right: 5%; }
  #h4m3c {
    font-family: 'Dancing Script', cursive;
    background: -moz-linear-gradient(right, #4192FF 30%, #030AD3);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -webkit-linear-gradient(right, #4192FF 30%, #030AD3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #4192FF 30%, #030AD3);
    -webkit-background-clip: text;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -linear-gradient(to right, #4192FF 30%, #030AD3);
    -webkit-background-clip: text;
    font-size: 1.7em;
    font-weight: lighter;
    text-align: center; }
  #h3m3 {
    font-family: 'Dancing Script', cursive;
    background: -moz-linear-gradient(right, #4192FF 30%, #030AD3);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -webkit-linear-gradient(right, #4192FF 30%, #030AD3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #4192FF 30%, #030AD3);
    -webkit-background-clip: text;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -linear-gradient(to right, #4192FF 30%, #030AD3);
    -webkit-background-clip: text;
    font-size: 2em;
    font-weight: lighter;
    text-align: center; }
  #délice1g {
    position: relative;
    width: 70px;
    top: 25px;
    left: 2%; }
  #délice1d {
    position: relative;
    width: 70px;
    top: 25px;
    left: 47%; }
  #délice2g {
    position: relative;
    width: 70px;
    top: 25px;
    left: 2%; }
  #délice2d {
    position: relative;
    width: 70px;
    top: 25px;
    left: 47%; }
  #délice3g {
    position: relative;
    width: 70px;
    top: 25px;
    left: 2%; }
  #délice3d {
    position: relative;
    width: 70px;
    top: 25px;
    left: 47%; } }

@media screen and (orientation: portrait) and (min-width: 375px) and (max-width: 500px) {
  #h4m3, #h4m3a, #h4m3b {
    font-size: 0.9em; }
  .texte3 {
    font-size: 0.6em;
    margin-left: 5%; }
  .sp3 {
    font-size: 0.6em;
    margin-right: 5%; }
  #délice1g {
    position: relative;
    width: 70px;
    top: 30px;
    left: 7%; }
  #délice1d {
    position: relative;
    width: 70px;
    top: 30px;
    left: 52%; }
  #délice2g {
    position: relative;
    width: 70px;
    top: 30px;
    left: 7%; }
  #délice2d {
    position: relative;
    width: 70px;
    top: 30px;
    left: 52%; }
  #délice3g {
    position: relative;
    width: 70px;
    top: 30px;
    left: 7%; }
  #délice3d {
    position: relative;
    width: 70px;
    top: 30px;
    left: 52%; } }

@media screen and (orientation: landscape) and (min-width: 568px) and (max-width: 809px) {
  h1 {
    font-size: 3.2em; }
  #h4m3c {
    font-size: 1.9em; }
  #h3m3 {
    font-size: 2.2em; }
  #h4m3, #h4m3a, #h4m3b {
    font-size: 1em; }
  .texte3 {
    font-size: 0.8em;
    margin-left: 5%; }
  .sp3 {
    font-size: 0.8em;
    margin-right: 5%; }
  #délice1g {
    position: relative;
    width: 120px;
    top: 35px;
    left: 12%; }
  #délice1d {
    position: relative;
    width: 120px;
    top: 35px;
    left: 45%; }
  #délice2g {
    position: relative;
    width: 120px;
    top: 35px;
    left: 12%; }
  #délice2d {
    position: relative;
    width: 120px;
    top: 35px;
    left: 45%; }
  #délice3g {
    position: relative;
    width: 120px;
    top: 35px;
    left: 12%; }
  #délice3d {
    position: relative;
    width: 120px;
    top: 35px;
    left: 45%; }
  footer {
    font-size: 1.2em; } }

@media screen and (orientation: landscape) and (min-width: 810px) and (max-width: 1023px) {
  h1 {
    font-size: 3.2em; }
  #h2m3 {
    font-size: 2em; }
  #h4m3c {
    font-size: 2.3em; }
  #h3m3 {
    font-size: 2.6em; }
  #h4m3, #h4m3a, #h4m3b {
    font-size: 1.3em; }
  .texte3 {
    font-size: 1em;
    margin-left: 5%; }
  .sp3 {
    font-size: 1em;
    margin-right: 5%; }
  #délice1g {
    position: relative;
    width: 150px;
    top: 44px;
    left: 12%; }
  #délice1d {
    position: relative;
    width: 150px;
    top: 42px;
    left: 45%; }
  #délice2g {
    position: relative;
    width: 150px;
    top: 44px;
    left: 12%; }
  #délice2d {
    position: relative;
    width: 150px;
    top: 42px;
    left: 47%; }
  #délice3g {
    position: relative;
    width: 150px;
    top: 44px;
    left: 12%; }
  #délice3d {
    position: relative;
    width: 150px;
    top: 42px;
    left: 45%; }
  footer {
    font-size: 1.2em; } }

@media screen and (orientation: portrait) and (min-width: 600px) and (max-width: 1024px) {
  h1 {
    font-size: 3.2em; }
  #h2m3 {
    font-size: 2em; }
  #h4m3c {
    font-size: 2.3em; }
  #h3m3 {
    font-size: 2.6em; }
  #h4m3, #h4m3a, #h4m3b {
    font-size: 1.3em; }
  .texte3 {
    font-size: 1em;
    margin-left: 5%; }
  .sp3 {
    font-size: 1em;
    margin-right: 5%; }
  #délice1g {
    position: relative;
    width: 150px;
    top: 44px;
    left: 12%; }
  #délice1d {
    position: relative;
    width: 150px;
    top: 42px;
    left: 45%; }
  #délice2g {
    position: relative;
    width: 150px;
    top: 44px;
    left: 12%; }
  #délice2d {
    position: relative;
    width: 150px;
    top: 42px;
    left: 45%; }
  #délice3g {
    position: relative;
    width: 150px;
    top: 44px;
    left: 12%; }
  #délice3d {
    position: relative;
    width: 150px;
    top: 42px;
    left: 44%; }
  footer {
    font-size: 1.3em; } }

@media screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1199px) {
  h1 {
    font-size: 3.4em; }
  #h2m3 {
    font-size: 2.3em; }
  #h4m3c {
    font-size: 3em; }
  #h3m3 {
    font-size: 2.6em; }
  #h4m3, #h4m3a, #h4m3b {
    font-size: 1.5em; }
  .texte3 {
    font-size: 1.2em;
    margin-left: 5%; }
  .sp3 {
    font-size: 1.2em;
    margin-right: 5%; }
  #délice1g {
    position: relative;
    width: 190px;
    top: 49px;
    left: 12%;
    height: 6px; }
  #délice1d {
    position: relative;
    width: 190px;
    top: 49px;
    left: 45%;
    height: 6px; }
  #délice2g {
    position: relative;
    width: 190px;
    top: 49px;
    left: 12%;
    height: 6px; }
  #délice2d {
    position: relative;
    width: 190px;
    top: 49px;
    left: 45%;
    height: 6px; }
  #délice3g {
    position: relative;
    width: 190px;
    top: 49px;
    left: 12%;
    height: 6px; }
  #délice3d {
    position: relative;
    width: 190px;
    top: 49px;
    left: 45%;
    height: 6px; }
  footer {
    font-size: 1.7em; } }

@media screen and (orientation: landscape) and (min-width: 1024px) and (max-width: 1199px) {
  h1 {
    font-size: 3.2em; }
  #h2m3 {
    font-size: 2em; }
  #h4m3c {
    font-size: 2.5em; }
  #h3m3 {
    font-size: 3em; }
  #h4m3, #h4m3a, #h4m3b {
    font-size: 1.4em; }
  .texte3 {
    font-size: 1.1em;
    margin-left: 5%; }
  .sp3 {
    font-size: 1.1em;
    margin-right: 5%; }
  #délice1g {
    position: relative;
    width: 170px;
    top: 44px;
    left: 15%;
    height: 5px; }
  #délice1d {
    position: relative;
    width: 170px;
    top: 42px;
    left: 45%;
    height: 5px; }
  #délice2g {
    position: relative;
    width: 170px;
    top: 44px;
    left: 15%;
    height: 5px; }
  #délice2d {
    position: relative;
    width: 170px;
    top: 42px;
    left: 45%;
    height: 5px; }
  #délice3g {
    position: relative;
    width: 170px;
    top: 44px;
    left: 15%;
    height: 5px; }
  #délice3d {
    position: relative;
    width: 170px;
    top: 42px;
    left: 45%;
    height: 5px; }
  footer {
    font-size: 1.5em; } }

@media screen and (orientation: portrait) and (min-width: 1024px) and (max-width: 1199px) {
  h1 {
    font-size: 3.4em; }
  #h2m3 {
    font-size: 2.3em; }
  #h4m3c {
    font-size: 3em; }
  #h3m3 {
    font-size: 3em; }
  #h4m3, #h4m3a, #h4m3b {
    font-size: 1.5em; }
  .texte3 {
    font-size: 1.2em;
    margin-left: 5%; }
  .sp3 {
    font-size: 1.2em;
    margin-right: 5%; }
  #délice1g {
    position: relative;
    width: 190px;
    top: 49px;
    left: 12%;
    height: 6px; }
  #délice1d {
    position: relative;
    width: 190px;
    top: 49px;
    left: 45%;
    height: 6px; }
  #délice2g {
    position: relative;
    width: 190px;
    top: 49px;
    left: 12%;
    height: 6px; }
  #délice2d {
    position: relative;
    width: 190px;
    top: 49px;
    left: 45%;
    height: 6px; }
  #délice3g {
    position: relative;
    width: 190px;
    top: 49px;
    left: 12%;
    height: 6px; }
  #délice3d {
    position: relative;
    width: 190px;
    top: 49px;
    left: 45%;
    height: 6px; }
  footer {
    font-size: 1.5em; } }

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.6em; }
  #h2m3 {
    font-size: 2.3em; }
  #h4m3c {
    font-size: 3em; }
  #h3m3 {
    font-size: 3em; }
  #h4m3, #h4m3a, #h4m3b {
    font-size: 1.8em; }
  .texte3 {
    font-size: 1.4em;
    margin-left: 5%; }
  .sp3 {
    font-size: 1.4em;
    margin-right: 5%; }
  #délice1g {
    position: relative;
    width: 280px;
    top: 57px;
    left: 12%;
    height: 6px; }
  #délice1d {
    position: relative;
    width: 280px;
    top: 57px;
    left: 43%;
    height: 6px; }
  #délice2g {
    position: relative;
    width: 280px;
    top: 57px;
    left: 12%;
    height: 6px; }
  #délice2d {
    position: relative;
    width: 280px;
    top: 57px;
    left: 43%;
    height: 6px; }
  #délice3g {
    position: relative;
    width: 280px;
    top: 57px;
    left: 12%;
    height: 6px; }
  #délice3d {
    position: relative;
    width: 280px;
    top: 57px;
    left: 45%;
    height: 6px; }
  footer {
    font-size: 1.1em; } }

/*la palette du goût*/
@media screen and (min-width: 300px) {
  h1 {
    font-size: 2.7em; }
  #sec1M4 {
    width: 90%;
    position: relative;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20%; }
  #h2m4 {
    font-size: 2em; }
  #h4m4, #h4m4a, #h4m4b {
    text-align: center;
    font-size: 1em;
    font-weight: lighter;
    font-family: 'Kalam'; }
  #h3m4 {
    background: -moz-linear-gradient(right, #C7FF66, #168720);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -webkit-linear-gradient(right, #C7FF66, #168720);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #C7FF66, #168720);
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -linear-gradient(to right, #C7FF66, #168720);
    font-size: 2em;
    font-weight: lighter;
    font-family: 'Kaushan Script', cursive;
    text-align: center; }
  .paletteg {
    position: relative;
    width: 60px;
    top: 40px;
    left: 5%; }
  .paletted {
    position: relative;
    width: 60px;
    top: 40px;
    left: 52%; }
  #h4m4c {
    background: -moz-linear-gradient(right, #C7FF66, #168720);
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background: -webkit-linear-gradient(right, #C7FF66, #168720);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: -o-linear-gradient(right, #C7FF66, #168720);
    -o-background-clip: text;
    -o-text-fill-color: transparent;
    background: -linear-gradient(to right, #C7FF66, #168720);
    font-size: 1.5em;
    font-weight: lighter;
    font-family: 'Kaushan Script', cursive;
    text-align: center; }
  .menu4 {
    display: flex;
    justify-content: space-between; }
  .texte4 {
    /* mixin pour la mise en forme des textes des menus*/
    font-weight: lighter;
    font-family: "Kalam";
    white-space: nowrap;
    position: relative;
    font-size: 0.55em;
    margin-left: 2%;
    font-weight: lighter; }
  .sp4 {
    font-family: "Kalam";
    font-weight: bold;
    font-size: 0.55em;
    margin-right: 2%;
    font-weight: lighter; } }

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 3.6em; }
  #h2m4 {
    font-size: 2em; }
  #h4m4, #h4m4a, #h4m4b {
    text-align: center;
    font-size: 1.7em;
    font-weight: lighter;
    font-family: 'Kalam'; }
  #h3m4 {
    font-size: 3em; }
  .paletteg {
    position: relative;
    width: 270px;
    top: 70px;
    left: 15%; }
  .paletted {
    position: relative;
    width: 270px;
    top: 65px;
    left: 45%; }
  #h4m4c {
    font-size: 2.5em; }
  .menu4 {
    display: flex;
    justify-content: space-between; }
  .texte4 {
    font-size: 1.2em;
    margin-left: 5%;
    font-weight: lighter; }
  .sp4 {
    font-size: 1.2em;
    margin-right: 5%;
    font-weight: lighter; }
  footer {
    font-size: 0.9em;
    padding-bottom: 2%; } }
