@media screen and (min-width: 300px){
    
   html, body {
  /* margin, padding et border à 0 pour le reset css*/
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  height: 11%;
  padding-top: 2%;}

h1 {
  font-family: 'Hind Siliguri', sans-serif;
  text-align: center;
  vertical-align: middle;
  position: relative;
  /*valeur négative de letter spacing pour le h1 pour reproduire l'écart entre les lettres à l'identique de la maquette*/
  letter-spacing: -2px; }

#h1 {
  font-size: 3.2em;
  bottom: 50%; }
  
  #h1:visited {
    text-decoration: none;
    color: #F7C528; }
    
    .ah1{
    text-decoration: none;
    }
    
  .ah1:visited {
    color: #F7C528;
    text-decoration:none;}

h1, #ml, #ctn {
  color: #F7C528; }

header, footer{
  background-color: #559c84; }
  
  h2{
    text-align: center;
    font-size: 2em;
  }
  
 .h2e{
    font-size:1.7em;
  }
  
  h3{
    margin-left: 5%;
  }
  p{
    margin-left: 5%;
    font-size: 0.9em;
  }

footer {
  /*position fixed pour le footer afin qu'il reste au même endroit de l'écran malgré le scrolling vertical*/
  padding-top: 1.5%;
  position: fixed;
  bottom: 0;
  padding-bottom: 1%;
  width: 100%;
  height: 3.4%; }
  footer a {
    background-color: #559c84;
    color: #F7C528;
    font-size: 1.1em; }
  footer div {
    display: flex;
    justify-content: space-between; }

#ml {
  margin-left: 3%; }

#ctn {
  margin-right: 3%;
  }
  
  div{
    height: 100px;
  }
  
  #ml, #ctn{
  /*police de caratère  de "footer"*/
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  white-space: nowrap; }

#ml:hover {
  -webkit-animation: thing 3s;
  animation: thing 3s; }

#ctn:hover {
  -webkit-animation: thing 3s;
  animation: thing 3s; }

@-webkit-keyframes thing {
  0% {
    transform: rotate(0deg); }
  3% {
    transform: rotate(-4deg); }
  4% {
    transform: rotate(4deg); }
  5% {
    transform: rotate(-4deg); }
  6% {
    transform: rotate(4deg); }
  7% {
    transform: rotate(4deg); }
  8% {
    transform: rotate(-4deg); }
  9% {
    transform: rotate(4deg); }
  10% {
    transform: rotate(-4deg); }
  11% {
    transform: rotate(4deg); }
  12% {
    transform: rotate(-4deg); }
  13% {
    transform: rotate(-4deg); }
  14% {
    transform: rotate(4deg); }
  15% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes thing {
  0% {
    transform: rotate(0deg); }
  3% {
    transform: rotate(-4deg); }
  4% {
    transform: rotate(4deg); }
  5% {
    transform: rotate(-4deg); }
  6% {
    transform: rotate(4deg); }
  7% {
    transform: rotate(4deg); }
  8% {
    transform: rotate(-4deg); }
  9% {
    transform: rotate(4deg); }
  10% {
    transform: rotate(-4deg); }
  11% {
    transform: rotate(4deg); }
  12% {
    transform: rotate(-4deg); }
  13% {
    transform: rotate(-4deg); }
  14% {
    transform: rotate(4deg); }
  15% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } } 
}

@media screen and (orientation:landscape) and (min-width: 567px) {
    
    header{
        height: 23%;
      
    }
  
    footer {
  padding-top: 1.5%;
  position: fixed;
  bottom: 0;
  padding-bottom: 4%;
  width: 100%;
  height: 3.4%; }
  footer a {
    background-color: #559c84;
    color: #F7C528;
    font-size: 1.4em; }
  footer div {
    display: flex;
    justify-content: space-between; }

#ml {
  margin-left: 3%; }

#ctn {
  margin-right: 3%;
  }
}

@media screen and (orientation:portrait) and (min-width: 600px){
    
    header{
        height: 8%;
    }
    
    footer a {
    font-size: 1.8em; }
    
}

@media screen and (orientation:landscape) and (min-width: 1024px){
    
    header{
        height: 10%;
        
    }
    
    footer{
        height: 0.5%;
    }
    
    footer a {
    font-size: 1.8em; }
    
}
